<div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden min-h-56">
    <div class="p-5">
        <h2 class="text-xl font-bold text-gray-900 mb-2">{{ article.title }}</h2>
        <p class="text-gray-700 text-base mb-4">{{ article.content|slice(0,100) }}...</p>
        <div class="flex items-center justify-between relative">
                        <span class="text-sm text-gray-600">{{ article.createdAt|date('Y-m-d H:i:s') }}</span>
            {# <a href="{{ article.url }}" class="inline-block bg-blue-600 text-white text-sm font-semibold px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">Lire plus</a> #}
            {% if article.isPremium %}
						<div class="absolute bottom-0 right-0 flex items-center gap-2 px-2 py-1 text-sm bg-yellow-100 rounded-bl-md rounded-tr-md">
							{{ ux_icon('mdi:star-outline', { 'class': 'h-4 w-4' }) }} Premium
						</div>
					{% endif %}
        </div>
    </div>
</div>